In [2]:
import pandas_datareader.wb as wb
data1 = wb.search(string='SE.PRM.TENR', field='id')

In [3]:
data1

,id,name,source,sourceNote,sourceOrganization,topics,unit
8924,SE.PRM.TENR,"Adjusted net enrollment rate, primary (% of pr...",World Development Indicators,Adjusted net enrollment is the number of pupil...,UNESCO Institute for Statistics,Education,
8925,SE.PRM.TENR.FE,"Adjusted net enrollment rate, primary, female ...",World Development Indicators,Adjusted net enrollment is the number of pupil...,UNESCO Institute for Statistics,Education ; Gender,
8926,SE.PRM.TENR.MA,"Adjusted net enrollment rate, primary, male (%...",World Development Indicators,Adjusted net enrollment is the number of pupil...,UNESCO Institute for Statistics,Education ; Gender,

In [5]:
data1.iloc[:,2:]

,source,sourceNote,sourceOrganization,topics,unit
8924,World Development Indicators,Adjusted net enrollment is the number of pupil...,UNESCO Institute for Statistics,Education,
8925,World Development Indicators,Adjusted net enrollment is the number of pupil...,UNESCO Institute for Statistics,Education ; Gender,
8926,World Development Indicators,Adjusted net enrollment is the number of pupil...,UNESCO Institute for Statistics,Education ; Gender,

In [9]:
data1.iloc[:,1]

8924    Adjusted net enrollment rate, primary (% of pr...
8925    Adjusted net enrollment rate, primary, female ...
8926    Adjusted net enrollment rate, primary, male (%...
Name: name, dtype: object

In [11]:
data1.iloc[0,1]

u'Adjusted net enrollment rate, primary (% of primary school age children)'

In [13]:
data1.iloc[1,1]

u'Adjusted net enrollment rate, primary, female (% of primary school age children)'

In [14]:
data1.iloc[2,1]

u'Adjusted net enrollment rate, primary, male (% of primary school age children)'